In [175]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from collections import Counter
import itertools as it

In [67]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(5)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
645,tt0770752,70000000,111231041,Fool's Gold,Matthew McConaughey|Kate Hudson|Donald Sutherl...,Andy Tennant,This February True Love Takes a Dive.,Charming but luckless treasure hunter Ben Finn...,112,Comedy,De Line Pictures|Warner Bros.,2/7/2008,5.3,2008
469,tt1273678,28000000,45236543,The Spy Next Door,Amber Valletta|Lucas Till|Jackie Chan|Billy Ra...,Brian Levant,"Spying is easy, Babysitting is hard",Former CIA spy Bob Ho takes on his toughest as...,94,Action|Comedy|Family,Robert Simonds Productions|Relativity Media|Sp...,1/15/2010,5.4,2010
443,tt1414382,20000000,32005248,You Again,Kristen Bell|Sigourney Weaver|Betty White|Kris...,Andy Fickman,What doesn't kill you... is going to marry you...,History -- make that high school -- may repeat...,105,Comedy|Romance,Oops Doughnuts Productions|Touchstone Pictures...,9/24/2010,6.0,2010
705,tt0469903,40000000,9793496,The Express,Rob Brown|Dennis Quaid|Darrin Henson|Charles S...,Gary Fleder,He changed our country... one yard at a time.,"Based on the incredible true story, The Expres...",130,Drama,Davis Entertainment|Relativity Media|IDEA Film...,10/10/2008,7.1,2008
666,tt1132626,10800000,113857533,Saw V,Tobin Bell|Costas Mandylor|Scott Patterson|Bet...,David Hackl,You Won't Believe How It Ends,Detective Hoffman is seemingly the last person...,92,Horror|Thriller|Crime,Lionsgate|Twisted Pictures,10/23/2008,5.9,2008

In [5]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [87]:
answers = {} # создадим словарь для ответов
# Так как в датасете нет колонки с прибылью, то создаём её 
data['profit'] = (data.revenue - data.budget).to_list()
# Разбиваем строку с актёрами и обновляем её делая списком
data.cast = data.cast.str.split('|')
# Разбиваем строку с режисёрами и обновляем её делая списком
data.director = data.director.str.split('|')
# тут другие ваши предобработки колонок например:

#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [8]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [182]:
# тут пишем ваш код для решения данного вопроса:
# сортируем по убыванию и название фильма из первой строки
answers['1'] = data.sort_values( 'budget', ascending=False ).original_title.iloc[0]
answers['1']

'Pirates of the Caribbean: On Stranger Tides'

ВАРИАНТ 2

In [0]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [25]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать

In [135]:
answers['2'] = data.sort_values( 'runtime', ascending=False ).original_title.iloc[0]
answers['2']

'Gods and Generals'

# 3. Какой из фильмов самый короткий (в минутах)?

In [134]:
answers['3'] = data.sort_values( 'runtime', ascending=True ).original_title.iloc[0]
answers['3']

'Winnie the Pooh'

# 4. Какова средняя длительность фильмов?

In [132]:
answers['4'] = data.runtime.mean()
answers['4']

109.6585494970884

# 5. Каково медианное значение длительности фильмов?

In [133]:
answers['5'] = data.runtime.median()
answers['5']

107.0

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [131]:
# лучше код получения столбца profit вынести в Предобработку что в начале
answers['6'] = data.sort_values( 'profit', ascending=False ).original_title.iloc[0]
answers['6']

'Avatar'

# 7. Какой фильм самый убыточный?

In [183]:
answers['7'] = data.sort_values( 'profit', ascending=True ).original_title.iloc[0]
answers['7']

'The Lone Ranger'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [130]:
answers['8'] = data[data.profit > 0].original_title.count()
answers['8']

1478

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [129]:
answers['9'] = data[data.release_year == 2008].sort_values( 'revenue', ascending=False ).original_title.iloc[0]
answers['9']

'The Dark Knight'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [128]:
answers['10'] = data[(data.release_year > 2011) & (data.release_year < 2015)].sort_values( 'profit', ascending=True ).original_title.iloc[0]
answers['10']

'The Lone Ranger'

# 11. Какого жанра фильмов больше всего?

In [125]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале
data11 = data.copy()
data11['genres'] = data.genres.str.split('|')
answers['11'] = data11.explode( 'genres' ).value_counts( 'genres' ).index[0]
answers['11']

'Drama'

ВАРИАНТ 2

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [123]:
data12 = data.copy()
data12['genres'] = data.genres.str.split('|')
answers['12'] = data12[data12['profit'] > 0].explode( 'genres' ).value_counts( 'genres' ).index[0]
answers['12']

'Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [122]:
answers['13'] = data.explode('director').groupby(['director'])['revenue'].sum().sort_values( ascending=False ).index[0]
answers['13']

'Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [120]:
data14 = data[data.genres.str.contains('Action')]
answers['14'] = data14.explode('director').value_counts( 'director' ).index[0]
answers['14']

'Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [119]:
data15 = data[data.release_year == 2012].explode( 'cast' )
answers['15'] =  data15.groupby(['cast']).revenue.sum().sort_values( ascending=False ).index[0]
answers['15']

'Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [118]:
data16 = data[(data.budget > data.budget.mean())]
answers['16'] = data16.explode( 'cast' ).cast.value_counts().index[0]
answers['16']

'Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [117]:
data17 = data.explode( 'cast' )
answers['17'] = data17[data17.cast == 'Nicolas Cage'].genres.str.split('|').explode('genres').value_counts().index[0]
answers['17']

'Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [147]:
data18 = data[data.production_companies.str.contains('Paramount Pictures')]
answers['18'] = data18.sort_values( 'profit', ascending=True ).original_title.iloc[0]
answers['18']

'K-19: The Widowmaker'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [150]:
answers['19'] = data.groupby( ['release_year'] ).revenue.sum().sort_values( ascending=False ).index[0]
answers['19']

2015

# 20. Какой самый прибыльный год для студии Warner Bros?

In [152]:
answers['20'] = data[data.production_companies.str.contains('Warner Bros')].groupby( ['release_year'] ).profit.sum().sort_values( ascending=False ).index[0]
answers['20']

2014

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [154]:
data21  = data.copy()
data21.release_date = data.release_date.apply( lambda x: int(x.split('/')[0]) )
grp21 = data21.groupby( ['release_date'] )
answers['21'] = grp21.release_year.count().sort_values(ascending=False).index[0]
answers['21']

9

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [155]:
data22  = data.copy()
data22.release_date = data.release_date.apply( lambda x: int(x.split('/')[0]) )
answers['22'] = data22[(data22.release_date > 5) & (data22.release_date < 9)].groupby( ['release_date'] ).release_year.count().sum() 
answers['22']

450

# 23. Для какого режиссера зима – самое продуктивное время года?

In [157]:
data23  = data.copy()
data23.release_date = data.release_date.apply( lambda x: int(x.split('/')[0]) )
grp23 = data23[(data23.release_date < 3) | (data23.release_date > 11)].explode('director')
answers['23'] = grp23.director.value_counts().index[0]
answers['23']

'Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [161]:
data24 = data.copy()
data24.production_companies = data.production_companies.str.split('|')
data24['title_length'] = data24.original_title.apply( lambda x: len(x) )
answers['24'] = data24.explode( 'production_companies' ).sort_values( 'title_length', ascending=False ).production_companies.iloc[0]
answers['24']

'Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [163]:
data25 = data.copy()
data25.production_companies = data.production_companies.str.split( '|' )
data25['overview_len'] = data25.overview.apply( lambda x: len( x.split(' ') ) )
answers['25'] = data25.explode( 'production_companies' ).sort_values( 'overview_len', ascending=False ).production_companies.iloc[0]
answers['25']

'Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [173]:
answers['26'] = data.sort_values( 'vote_average', ascending=False ).original_title.head(8).values[0:8]
answers['26']

array(['The Dark Knight', 'Interstellar', 'The Imitation Game',
       'Inside Out', 'Room', 'The Wolf of Wall Street', 'Gone Girl',
       '12 Years a Slave'], dtype=object)

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [178]:
data27   = data.copy()
data27['cast_pairs'] = data27.cast.apply( lambda x: list(it.combinations(x, 2) ) )
answers['27'] = data27.explode( 'cast_pairs' ).value_counts('cast_pairs').index[0]
answers['27']

('Daniel Radcliffe', 'Emma Watson')

# Submission

In [179]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'14': 'Robert Rodriguez',
 '15': 'Chris Hemsworth',
 '16': 'Matt Damon',
 '17': 'Action',
 '13': 'Peter Jackson',
 '12': 'Drama',
 '11': 'Drama',
 '10': 'The Lone Ranger',
 '9': 'The Dark Knight',
 '8': 1478,
 '6': 'Avatar',
 '4': 109.6585494970884,
 '5': 107.0,
 '3': 'Winnie the Pooh',
 '2': 'Gods and Generals',
 '1': 'Pirates of the Caribbean: On Stranger Tides',
 '18': 'K-19: The Widowmaker',
 '19': 2015,
 '20': 2014,
 '21': 9,
 '22': 450,
 '23': 'Peter Jackson',
 '24': 'Four By Two Productions',
 '25': 'Midnight Picture Show',
 '26': array(['The Dark Knight', 'Interstellar', 'The Imitation Game',
        'Inside Out', 'Room', 'The Wolf of Wall Street', 'Gone Girl',
        '12 Years a Slave'], dtype=object),
 '27': ('Daniel Radcliffe', 'Emma Watson')}

In [184]:
# и убедиться что ни чего не пропустил)
len(answers)

27